// Fix the :( scroll bar ONLY on windows.

.platform--windows {
  &.vuetify-theme--dark {
    & ::-webkit-scrollbar {
      background-color: #202324;
      color: #aba499;
      width: 6px;
    }
    & ::-webkit-scrollbar-thumb {
      background-color: #5a5e62;
    }
    & ::-webkit-scrollbar-thumb:hover {
      background-color: #626a6e;
    }
    & ::-webkit-scrollbar-thumb:active {
      background-color: #484e51;
    }
    & ::-webkit-scrollbar-corner {
      background-color: #222526;
    }
    & * {
      scrollbar-color: #202324 #454a4d;
    }
  }

  &.vuetify-theme--light {
    & ::-webkit-scrollbar {
      background-color: #aba499;
      color: #202324;
      width: 6px;
    }
    & ::-webkit-scrollbar-thumb {
      background-color: #5a5e62;
    }
    & ::-webkit-scrollbar-thumb:hover {
      background-color: #737d81;
    }
    & ::-webkit-scrollbar-thumb:active {
      background-color: #363b3c;
    }
    & ::-webkit-scrollbar-corner {
      background-color: #222526;
    }
    & * {
      scrollbar-color: #c2cfd6 #ddebf1;
    }
  }
}

.vuetify-theme--dark {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
  }
  ::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }
  ::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }
}

.vuetify-theme--light {
  ::selection {
    background-color: #b3d4fc !important;
    color: #000 !important;
  }
  ::-moz-selection {
    background-color: #b3d4fc !important;
    color: #000 !important;
  }
}

html, body, main, .transition-all {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
html, body, #app {
  transition: background .125s;
}
main {
  transition: all .125s;
}
.transition-all {
  transition: all .225s;
}

.settings-option {
  transition: all .225s;
  transition-delay: 0s;
  &:hover {
    background: rgba(18, 18, 18, .18);
  }
  &:not(.settings-option--active) {
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    }
    &:active {
      box-shadow: 0 0 2px rgba(0, 0, 0, .35);
    }
  }
  .vuetify-theme--dark &:hover {
    background: rgba(255, 255, 255, .18);
  }
}
.data-table {
  table {
    //position: relative;
  }
}
.item-icon {
  position: absolute !important;

  left: 12px;
  margin-top: 6px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, .4));
}

.item-name {
  padding-left: 38px;
}
